<nav class="navbar navbar-expand-lg navbar-light bg-primary text-light">
  <div class="container-fluid">
  <p class="logo nav-link">Budgety<p>
    <% if user_signed_in? %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <%= link_to "Home", authenticated_root_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Profile", users_path, class:"nav-link" %>
          </li>
        </ul>
        <div class="d-flex flex-column justify-content-around flex-lg-row">
					<%= button_to "Sign out", destroy_user_session_path, class: "btn btn-dark", method: :delete, data: { turbo: false } %>
        </div>
      </div>
    <% else %>
      <div class="navbar-right">
        <%= link_to "Login", new_user_session_path, class:"btn btn-dark nav-btn" %>
				&nbsp;
					<%= link_to "Sign up", new_user_registration_path, class: "btn btn-dark nav-btn" %>
      </div>
    <% end %>
  </div>
</nav>